.picture-1 {
    width :50px;
    height: 50px;
}
.picture-2 {
    width :60px;
    height: 60px;
}
.profile-picture {
    width :150px;
    height: 150px;
}
.edit-picture {
    width :200px;
    height: 200px;
}
.mini-picture {
    width: 25px;
    height: 25px;
}
.picture-1,.picture-2,.profile-picture,.edit-picture,.mini-picture {
    border-radius: 50%;
}

.post-picture {
    max-width: 500px;
    max-height: 500px;
}