/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT 

(https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

 #menu-toggle {
    position: fixed;
    top: 53px;
}
            
#wrapper {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0px;
}


#sidebar-wrapper {            
position: fixed;
left: 250px;
width: 20%;
height: 93%;
margin-left: -250px;
overflow-y: scroll;
overflow-x: hidden;
/* background: #ffffff; */
/* background: #007bff; */
-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;            
}
    
#wrapper.toggled #sidebar-wrapper {
    width: 0px;
}


#page-content-wrapper {
    width: auto;
    position: absolute;
    padding: 50px;
}


#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
    width:100%;
}




/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}


.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}


.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}


.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}


.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}


.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}